altera/simulation/modelsim
altera/output_files
*.dpf
PLLJ_PLLSPE_INFO.txt
*.qws
altera/greybox_tmp
xilinx/NaiveMIPS/isim/test_isim_beh.exe.sim/
xilinx/NaiveMIPS/isim/work/
*.debug
*.veo
xilinx/CPLD/top_html/
*.prw
*.ver
*.xdl
*.ppr
*.xsl
*.elf
*.sym
*.blc
xilinx/NaiveMIPS/ipcore_dir/*/simulation/
xilinx/NaiveMIPS/ipcore_dir/*/doc/
planAhead_run_*
xilinx/NaiveMIPS/ipcore_dir/*/example_design/
*.log
*.bak
.DS_Store
.qsys_edit/
*.sopcinfo
