altera/simulation/modelsim
altera/output_files
*.dpf
PLLJ_PLLSPE_INFO.txt
*.qws
altera/greybox_tmp
xilinx/NaiveMIPS/ipcore_dir/blk_mem_gen_v7_3/simulation/
xilinx/NaiveMIPS/ipcore_dir/clk_wiz_v3_6/doc/
xilinx/NaiveMIPS/ipcore_dir/clk_wiz_v3_6/simulation/
xilinx/NaiveMIPS/isim/test_isim_beh.exe.sim/
xilinx/NaiveMIPS/isim/work/
*.debug
*.veo
