#I/O timing....
#Created by Constraints Editor (xc6slx100-fgg676-2) - 2015/11/26
NET "clk_in" TNM_NET = clk_in;
TIMESPEC TS_clk_in = PERIOD "clk_in" 20 ns HIGH 50%;
NET "clk_uart_in" TNM_NET = clk_uart_in;
TIMESPEC TS_clk_uart_in = PERIOD "clk_uart_in" 11.0592 MHz HIGH 50%;
PIN "pll1/clknetwork/pll_base_inst.CLKOUT1" TNM = clk_ram;
#Created by Constraints Editor (xc6slx100-fgg676-2) - 2015/11/26
INST "base_ram_addr<0>" TNM = ram_addr_ctl;
INST "base_ram_addr<1>" TNM = ram_addr_ctl;
INST "base_ram_addr<2>" TNM = ram_addr_ctl;
INST "base_ram_addr<3>" TNM = ram_addr_ctl;
INST "base_ram_addr<4>" TNM = ram_addr_ctl;
INST "base_ram_addr<5>" TNM = ram_addr_ctl;
INST "base_ram_addr<6>" TNM = ram_addr_ctl;
INST "base_ram_addr<7>" TNM = ram_addr_ctl;
INST "base_ram_addr<8>" TNM = ram_addr_ctl;
INST "base_ram_addr<9>" TNM = ram_addr_ctl;
INST "base_ram_addr<10>" TNM = ram_addr_ctl;
INST "base_ram_addr<11>" TNM = ram_addr_ctl;
INST "base_ram_addr<12>" TNM = ram_addr_ctl;
INST "base_ram_addr<13>" TNM = ram_addr_ctl;
INST "base_ram_addr<14>" TNM = ram_addr_ctl;
INST "base_ram_addr<15>" TNM = ram_addr_ctl;
INST "base_ram_addr<16>" TNM = ram_addr_ctl;
INST "base_ram_addr<17>" TNM = ram_addr_ctl;
INST "base_ram_addr<18>" TNM = ram_addr_ctl;
INST "base_ram_addr<19>" TNM = ram_addr_ctl;
INST "base_ram_ce_n" TNM = ram_addr_ctl;
INST "base_ram_oe_n" TNM = ram_addr_ctl;
INST "base_ram_we_n" TNM = ram_addr_ctl;
INST "ext_ram_addr<0>" TNM = ram_addr_ctl;
INST "ext_ram_addr<1>" TNM = ram_addr_ctl;
INST "ext_ram_addr<2>" TNM = ram_addr_ctl;
INST "ext_ram_addr<3>" TNM = ram_addr_ctl;
INST "ext_ram_addr<4>" TNM = ram_addr_ctl;
INST "ext_ram_addr<5>" TNM = ram_addr_ctl;
INST "ext_ram_addr<6>" TNM = ram_addr_ctl;
INST "ext_ram_addr<7>" TNM = ram_addr_ctl;
INST "ext_ram_addr<8>" TNM = ram_addr_ctl;
INST "ext_ram_addr<9>" TNM = ram_addr_ctl;
INST "ext_ram_addr<10>" TNM = ram_addr_ctl;
INST "ext_ram_addr<11>" TNM = ram_addr_ctl;
INST "ext_ram_addr<12>" TNM = ram_addr_ctl;
INST "ext_ram_addr<13>" TNM = ram_addr_ctl;
INST "ext_ram_addr<14>" TNM = ram_addr_ctl;
INST "ext_ram_addr<15>" TNM = ram_addr_ctl;
INST "ext_ram_addr<16>" TNM = ram_addr_ctl;
INST "ext_ram_addr<17>" TNM = ram_addr_ctl;
INST "ext_ram_addr<18>" TNM = ram_addr_ctl;
INST "ext_ram_addr<19>" TNM = ram_addr_ctl;
INST "ext_ram_ce_n" TNM = ram_addr_ctl;
INST "ext_ram_oe_n" TNM = ram_addr_ctl;
INST "ext_ram_we_n" TNM = ram_addr_ctl;
TIMEGRP "ram_addr_ctl" OFFSET = OUT 12 ns AFTER "clk_in";
#Created by Constraints Editor (xc6slx100-fgg676-2) - 2015/11/26
INST "base_ram_data<0>" TNM = ram_dout;
INST "base_ram_data<1>" TNM = ram_dout;
INST "base_ram_data<2>" TNM = ram_dout;
INST "base_ram_data<3>" TNM = ram_dout;
INST "base_ram_data<4>" TNM = ram_dout;
INST "base_ram_data<5>" TNM = ram_dout;
INST "base_ram_data<6>" TNM = ram_dout;
INST "base_ram_data<7>" TNM = ram_dout;
INST "base_ram_data<8>" TNM = ram_dout;
INST "base_ram_data<9>" TNM = ram_dout;
INST "base_ram_data<10>" TNM = ram_dout;
INST "base_ram_data<11>" TNM = ram_dout;
INST "base_ram_data<12>" TNM = ram_dout;
INST "base_ram_data<13>" TNM = ram_dout;
INST "base_ram_data<14>" TNM = ram_dout;
INST "base_ram_data<15>" TNM = ram_dout;
INST "base_ram_data<16>" TNM = ram_dout;
INST "base_ram_data<17>" TNM = ram_dout;
INST "base_ram_data<18>" TNM = ram_dout;
INST "base_ram_data<19>" TNM = ram_dout;
INST "base_ram_data<20>" TNM = ram_dout;
INST "base_ram_data<21>" TNM = ram_dout;
INST "base_ram_data<22>" TNM = ram_dout;
INST "base_ram_data<23>" TNM = ram_dout;
INST "base_ram_data<24>" TNM = ram_dout;
INST "base_ram_data<25>" TNM = ram_dout;
INST "base_ram_data<26>" TNM = ram_dout;
INST "base_ram_data<27>" TNM = ram_dout;
INST "base_ram_data<28>" TNM = ram_dout;
INST "base_ram_data<29>" TNM = ram_dout;
INST "base_ram_data<30>" TNM = ram_dout;
INST "base_ram_data<31>" TNM = ram_dout;
INST "ext_ram_data<0>" TNM = ram_dout;
INST "ext_ram_data<1>" TNM = ram_dout;
INST "ext_ram_data<2>" TNM = ram_dout;
INST "ext_ram_data<3>" TNM = ram_dout;
INST "ext_ram_data<4>" TNM = ram_dout;
INST "ext_ram_data<5>" TNM = ram_dout;
INST "ext_ram_data<6>" TNM = ram_dout;
INST "ext_ram_data<7>" TNM = ram_dout;
INST "ext_ram_data<8>" TNM = ram_dout;
INST "ext_ram_data<9>" TNM = ram_dout;
INST "ext_ram_data<10>" TNM = ram_dout;
INST "ext_ram_data<11>" TNM = ram_dout;
INST "ext_ram_data<12>" TNM = ram_dout;
INST "ext_ram_data<13>" TNM = ram_dout;
INST "ext_ram_data<14>" TNM = ram_dout;
INST "ext_ram_data<15>" TNM = ram_dout;
INST "ext_ram_data<16>" TNM = ram_dout;
INST "ext_ram_data<17>" TNM = ram_dout;
INST "ext_ram_data<18>" TNM = ram_dout;
INST "ext_ram_data<19>" TNM = ram_dout;
INST "ext_ram_data<20>" TNM = ram_dout;
INST "ext_ram_data<21>" TNM = ram_dout;
INST "ext_ram_data<22>" TNM = ram_dout;
INST "ext_ram_data<23>" TNM = ram_dout;
INST "ext_ram_data<24>" TNM = ram_dout;
INST "ext_ram_data<25>" TNM = ram_dout;
INST "ext_ram_data<26>" TNM = ram_dout;
INST "ext_ram_data<27>" TNM = ram_dout;
INST "ext_ram_data<28>" TNM = ram_dout;
INST "ext_ram_data<29>" TNM = ram_dout;
INST "ext_ram_data<30>" TNM = ram_dout;
INST "ext_ram_data<31>" TNM = ram_dout;
TIMEGRP "ram_dout" OFFSET = OUT 12 ns AFTER "clk_in";
#Created by Constraints Editor (xc6slx100-fgg676-2) - 2015/12/02
INST "base_ram_data<0>" TNM = ram_in;
INST "base_ram_data<1>" TNM = ram_in;
INST "base_ram_data<2>" TNM = ram_in;
INST "base_ram_data<3>" TNM = ram_in;
INST "base_ram_data<4>" TNM = ram_in;
INST "base_ram_data<5>" TNM = ram_in;
INST "base_ram_data<6>" TNM = ram_in;
INST "base_ram_data<7>" TNM = ram_in;
INST "base_ram_data<8>" TNM = ram_in;
INST "base_ram_data<9>" TNM = ram_in;
INST "base_ram_data<10>" TNM = ram_in;
INST "base_ram_data<11>" TNM = ram_in;
INST "base_ram_data<12>" TNM = ram_in;
INST "base_ram_data<13>" TNM = ram_in;
INST "base_ram_data<14>" TNM = ram_in;
INST "base_ram_data<15>" TNM = ram_in;
INST "base_ram_data<16>" TNM = ram_in;
INST "base_ram_data<17>" TNM = ram_in;
INST "base_ram_data<18>" TNM = ram_in;
INST "base_ram_data<19>" TNM = ram_in;
INST "base_ram_data<20>" TNM = ram_in;
INST "base_ram_data<21>" TNM = ram_in;
INST "base_ram_data<22>" TNM = ram_in;
INST "base_ram_data<23>" TNM = ram_in;
INST "base_ram_data<24>" TNM = ram_in;
INST "base_ram_data<25>" TNM = ram_in;
INST "base_ram_data<26>" TNM = ram_in;
INST "base_ram_data<27>" TNM = ram_in;
INST "base_ram_data<28>" TNM = ram_in;
INST "base_ram_data<29>" TNM = ram_in;
INST "base_ram_data<30>" TNM = ram_in;
INST "base_ram_data<31>" TNM = ram_in;
INST "ext_ram_data<0>" TNM = ram_in;
INST "ext_ram_data<1>" TNM = ram_in;
INST "ext_ram_data<2>" TNM = ram_in;
INST "ext_ram_data<3>" TNM = ram_in;
INST "ext_ram_data<4>" TNM = ram_in;
INST "ext_ram_data<5>" TNM = ram_in;
INST "ext_ram_data<6>" TNM = ram_in;
INST "ext_ram_data<7>" TNM = ram_in;
INST "ext_ram_data<8>" TNM = ram_in;
INST "ext_ram_data<9>" TNM = ram_in;
INST "ext_ram_data<10>" TNM = ram_in;
INST "ext_ram_data<11>" TNM = ram_in;
INST "ext_ram_data<12>" TNM = ram_in;
INST "ext_ram_data<13>" TNM = ram_in;
INST "ext_ram_data<14>" TNM = ram_in;
INST "ext_ram_data<15>" TNM = ram_in;
INST "ext_ram_data<16>" TNM = ram_in;
INST "ext_ram_data<17>" TNM = ram_in;
INST "ext_ram_data<18>" TNM = ram_in;
INST "ext_ram_data<19>" TNM = ram_in;
INST "ext_ram_data<20>" TNM = ram_in;
INST "ext_ram_data<21>" TNM = ram_in;
INST "ext_ram_data<22>" TNM = ram_in;
INST "ext_ram_data<23>" TNM = ram_in;
INST "ext_ram_data<24>" TNM = ram_in;
INST "ext_ram_data<25>" TNM = ram_in;
INST "ext_ram_data<26>" TNM = ram_in;
INST "ext_ram_data<27>" TNM = ram_in;
INST "ext_ram_data<28>" TNM = ram_in;
INST "ext_ram_data<29>" TNM = ram_in;
INST "ext_ram_data<30>" TNM = ram_in;
INST "ext_ram_data<31>" TNM = ram_in;
TIMEGRP "ram_in" OFFSET = IN 7 ns VALID 8 ns BEFORE "clk_in" RISING;
