
# PlanAhead Generated physical constraints 

NET "clk_in" LOC = U26;
NET "rst_in_n" LOC = T1;
NET "txd" LOC = P26;
NET "rxd" LOC = N23;

NET "leds[0]" LOC = N26;
NET "leds[1]" LOC = M26;
NET "leds[2]" LOC = L25;
NET "leds[3]" LOC = L26;
NET "leds[4]" LOC = K26;
NET "leds[5]" LOC = M23;
NET "leds[6]" LOC = K24;
NET "leds[7]" LOC = L24;
NET "leds[8]" LOC = J24;
NET "leds[9]" LOC = G23;
NET "leds[10]" LOC = J25;
NET "leds[11]" LOC = J26;
NET "leds[12]" LOC = H26;
NET "leds[13]" LOC = G25;
NET "leds[14]" LOC = G26;
NET "leds[15]" LOC = F26;

NET "flash_address[0]" LOC = G3;
NET "flash_address[1]" LOC = C8;
NET "flash_address[2]" LOC = D8;
NET "flash_address[3]" LOC = D7;
NET "flash_address[4]" LOC = E8;
NET "flash_address[5]" LOC = A7;
NET "flash_address[6]" LOC = C7;
NET "flash_address[7]" LOC = C6;
NET "flash_address[8]" LOC = D6;
NET "flash_address[9]" LOC = A6;
NET "flash_address[10]" LOC = B6;
NET "flash_address[11]" LOC = C5;
NET "flash_address[12]" LOC = E5;
NET "flash_address[13]" LOC = B4;
NET "flash_address[14]" LOC = A4;
NET "flash_address[15]" LOC = C4;
NET "flash_address[16]" LOC = C3;
NET "flash_address[17]" LOC = B2;
NET "flash_address[18]" LOC = A2;
NET "flash_address[19]" LOC = C2;
NET "flash_address[20]" LOC = F5;
NET "flash_address[21]" LOC = D3;
NET "flash_address[22]" LOC = G5;

NET "flash_data[0]" LOC = G4;
NET "flash_data[1]" LOC = J3;
NET "flash_data[2]" LOC = K3;
NET "flash_data[3]" LOC = K5;
NET "flash_data[4]" LOC = C1;
NET "flash_data[5]" LOC = E2;
NET "flash_data[6]" LOC = F1;
NET "flash_data[7]" LOC = G1;
NET "flash_data[8]" LOC = H3;
NET "flash_data[9]" LOC = J4;
NET "flash_data[10]" LOC = H5;
NET "flash_data[11]" LOC = B1;
NET "flash_data[12]" LOC = D1;
NET "flash_data[13]" LOC = E1;
NET "flash_data[14]" LOC = G2;
NET "flash_data[15]" LOC = H1;

NET "flash_byte_n" LOC = F3;
NET "flash_ce[0]" LOC = E6;
NET "flash_ce[1]" LOC = E4;
NET "flash_ce[2]" LOC = E3;
NET "flash_oe_n" LOC = J1;
NET "flash_rp_n" LOC = A5;
NET "flash_vpen" LOC = D5;
NET "flash_we_n" LOC = K1;

NET "base_ram_addr[0]" LOC = Y26;
NET "base_ram_addr[1]" LOC = W25;
NET "base_ram_addr[2]" LOC = W26;
NET "base_ram_addr[3]" LOC = V24;
NET "base_ram_addr[4]" LOC = V26;
NET "base_ram_addr[5]" LOC = AC14;
NET "base_ram_addr[6]" LOC = AD15;
NET "base_ram_addr[7]" LOC = AC15;
NET "base_ram_addr[8]" LOC = AC16;
NET "base_ram_addr[9]" LOC = AC19;
NET "base_ram_addr[10]" LOC = AD20;
NET "base_ram_addr[11]" LOC = AC20;
NET "base_ram_addr[12]" LOC = AD21;
NET "base_ram_addr[13]" LOC = AB22;
NET "base_ram_addr[14]" LOC = AD22;
NET "base_ram_addr[15]" LOC = AA23;
NET "base_ram_addr[16]" LOC = AC23;
NET "base_ram_addr[17]" LOC = V23;
NET "base_ram_addr[18]" LOC = W22;
NET "base_ram_addr[19]" LOC = W24;
NET "ram_data[0]" LOC = AC24;
NET "ram_data[1]" LOC = AD24;
NET "ram_data[2]" LOC = AC26;
NET "ram_data[3]" LOC = AB26;
NET "ram_data[4]" LOC = Y24;
NET "ram_data[5]" LOC = AA24;
NET "ram_data[6]" LOC = Y22;
NET "ram_data[7]" LOC = AB24;
#NET "baseram_data[8]" LOC = AD19;
#NET "baseram_data[9]" LOC = AB18;
#NET "baseram_data[10]" LOC = AD18;
#NET "baseram_data[11]" LOC = AC17;
#NET "baseram_data[12]" LOC = AB17;
#NET "baseram_data[13]" LOC = AF21;
#NET "baseram_data[14]" LOC = AE21;
#NET "baseram_data[15]" LOC = AF20;
#NET "baseram_data[16]" LOC = AE23;
#NET "baseram_data[17]" LOC = AF24;
#NET "baseram_data[18]" LOC = AE24;
#NET "baseram_data[19]" LOC = AF25;
#NET "baseram_data[20]" LOC = AE25;
#NET "baseram_data[21]" LOC = AE26;
#NET "baseram_data[22]" LOC = AD26;
#NET "baseram_data[23]" LOC = AC25;
#NET "baseram_data[24]" LOC = AF19;
#NET "baseram_data[25]" LOC = AE19;
#NET "baseram_data[26]" LOC = AF18;
#NET "baseram_data[27]" LOC = AF17;
#NET "baseram_data[28]" LOC = AE17;
#NET "baseram_data[29]" LOC = AF16;
#NET "baseram_data[30]" LOC = AF15;
#NET "baseram_data[31]" LOC = AE15;
NET "base_ram_ce_n" LOC = AA26;
NET "base_ram_oe_n" LOC = AD17;
NET "base_ram_we_n" LOC = AA25;

NET "ext_ram_addr[0]" LOC = AD4;
NET "ext_ram_addr[1]" LOC = AD3;
NET "ext_ram_addr[2]" LOC = AD6;
NET "ext_ram_addr[3]" LOC = AC5;
NET "ext_ram_addr[4]" LOC = AD5;
NET "ext_ram_addr[5]" LOC = AD14;
NET "ext_ram_addr[6]" LOC = AC13;
NET "ext_ram_addr[7]" LOC = AB10;
NET "ext_ram_addr[8]" LOC = AD10;
NET "ext_ram_addr[9]" LOC = AD9;
NET "ext_ram_addr[10]" LOC = AC9;
NET "ext_ram_addr[11]" LOC = AD8;
NET "ext_ram_addr[12]" LOC = AB8;
NET "ext_ram_addr[13]" LOC = AD7;
NET "ext_ram_addr[14]" LOC = AC7;
NET "ext_ram_addr[15]" LOC = AA4;
NET "ext_ram_addr[16]" LOC = AB3;
NET "ext_ram_addr[17]" LOC = AB4;
NET "ext_ram_addr[18]" LOC = AB5;
NET "ext_ram_addr[19]" LOC = AB6;
#NET "extram_data[0]" LOC = AF2;
#NET "extram_data[1]" LOC = AE3;
#NET "extram_data[2]" LOC = AE4;
#NET "extram_data[3]" LOC = AF4;
#NET "extram_data[4]" LOC = AE5;
#NET "extram_data[5]" LOC = AF5;
#NET "extram_data[6]" LOC = AF6;
#NET "extram_data[7]" LOC = AE7;
NET "ram_data[8]" LOC = AE13;
NET "ram_data[9]" LOC = AF13;
NET "ram_data[10]" LOC = AD11;
NET "ram_data[11]" LOC = AC11;
NET "ram_data[12]" LOC = AD12;
NET "ram_data[13]" LOC = AC12;
NET "ram_data[14]" LOC = AD13;
NET "ram_data[15]" LOC = AF14;
NET "ram_data[16]" LOC = AE2;
NET "ram_data[17]" LOC = AE1;
NET "ram_data[18]" LOC = AD1;
NET "ram_data[19]" LOC = AC1;
NET "ram_data[20]" LOC = AC2;
NET "ram_data[21]" LOC = AB1;
NET "ram_data[22]" LOC = AA2;
NET "ram_data[23]" LOC = AA1;
NET "ram_data[24]" LOC = AF7;
NET "ram_data[25]" LOC = AF8;
NET "ram_data[26]" LOC = AE9;
NET "ram_data[27]" LOC = AF9;
NET "ram_data[28]" LOC = AF10;
NET "ram_data[29]" LOC = AE11;
NET "ram_data[30]" LOC = AF11;
NET "ram_data[31]" LOC = AF12;
NET "ext_ram_ce_n" LOC = AC3;
NET "ext_ram_oe_n" LOC = AB9;
NET "ext_ram_we_n" LOC = AC4;
