
# PlanAhead Generated physical constraints
NET "clk_in" LOC = D18;
NET "clk_uart_in" LOC = C18;
NET "rst_in_n" LOC = F22; #BTN_IN5
NET "txd" LOC = R18; #GPIO0
NET "rxd" LOC = K23; #GPIO1
NET "rs232_txd" LOC = M20; #GPIO2 
NET "rs232_rxd" LOC = M21; #GPIO3

#VGA
NET "vga_clk" LOC = J21;
NET "vga_pixel[7]" LOC = N18;
NET "vga_pixel[6]" LOC = N21;
NET "vga_pixel[5]" LOC = T19;
NET "vga_pixel[4]" LOC = U17;
NET "vga_pixel[3]" LOC = G20;
NET "vga_pixel[2]" LOC = M15;
NET "vga_pixel[1]" LOC = H24;
NET "vga_pixel[0]" LOC = M14;

NET "vga_hsync" LOC = P16;
NET "vga_vsync" LOC = R16;
NET "vga_de" LOC = J20;

#LEDS
NET "gpio0[0]" LOC = A17;
NET "gpio0[1]" LOC = G16;
NET "gpio0[2]" LOC = E16;
NET "gpio0[3]" LOC = H17;
NET "gpio0[4]" LOC = G17;
NET "gpio0[5]" LOC = F18;
NET "gpio0[6]" LOC = F19;
NET "gpio0[7]" LOC = F20;
NET "gpio0[8]" LOC = C17;
NET "gpio0[9]" LOC = F17;
NET "gpio0[10]" LOC = B17;
NET "gpio0[11]" LOC = D19;
NET "gpio0[12]" LOC = A18;
NET "gpio0[13]" LOC = A19;
NET "gpio0[14]" LOC = E17;
NET "gpio0[15]" LOC = E18;

#DPY0
NET "gpio0[16]" LOC = D16;
NET "gpio0[17]" LOC = F15;
NET "gpio0[18]" LOC = H15;
NET "gpio0[19]" LOC = G15;
NET "gpio0[20]" LOC = H16;
NET "gpio0[21]" LOC = H14;
NET "gpio0[22]" LOC = G19;
NET "gpio0[23]" LOC = J8;

#DPY2
NET "gpio0[24]" LOC = H9;
NET "gpio0[25]" LOC = G8;
NET "gpio0[26]" LOC = G7;
NET "gpio0[27]" LOC = G6;
NET "gpio0[28]" LOC = D6;
NET "gpio0[29]" LOC = E5;
NET "gpio0[30]" LOC = F4;
NET "gpio0[31]" LOC = G5;

#DIP_SW
NET "gpio1[0]" LOC = N3;
NET "gpio1[1]" LOC = N4;
NET "gpio1[2]" LOC = P3;
NET "gpio1[3]" LOC = P4;
NET "gpio1[4]" LOC = R5;
NET "gpio1[5]" LOC = T7;
NET "gpio1[6]" LOC = R8;
NET "gpio1[7]" LOC = T8;
NET "gpio1[8]" LOC = N2;
NET "gpio1[9]" LOC = N1;
NET "gpio1[10]" LOC = P1;
NET "gpio1[11]" LOC = R2;
NET "gpio1[12]" LOC = R1;
NET "gpio1[13]" LOC = T2;
NET "gpio1[14]" LOC = U1;
NET "gpio1[15]" LOC = U2;
NET "gpio1[16]" LOC = U6;
NET "gpio1[17]" LOC = R6;
NET "gpio1[18]" LOC = U5;
NET "gpio1[19]" LOC = T5;
NET "gpio1[20]" LOC = U4;
NET "gpio1[21]" LOC = T4;
NET "gpio1[22]" LOC = T3;
NET "gpio1[23]" LOC = R3;
NET "gpio1[24]" LOC = P5;
NET "gpio1[25]" LOC = P6;
NET "gpio1[26]" LOC = P8;
NET "gpio1[27]" LOC = N8;
NET "gpio1[28]" LOC = N6;
NET "gpio1[29]" LOC = N7;
NET "gpio1[30]" LOC = M7;
NET "gpio1[31]" LOC = M5;

#NET "flash_address[0]" LOC = K8;
NET "flash_address[0]" LOC = C26;
NET "flash_address[1]" LOC = B26;
NET "flash_address[2]" LOC = B25;
NET "flash_address[3]" LOC = A25;
NET "flash_address[4]" LOC = D24;
NET "flash_address[5]" LOC = C24;
NET "flash_address[6]" LOC = B24;
NET "flash_address[7]" LOC = A24;
NET "flash_address[8]" LOC = C23;
NET "flash_address[9]" LOC = D23;
NET "flash_address[10]" LOC = A23;
NET "flash_address[11]" LOC = C21;
NET "flash_address[12]" LOC = B21;
NET "flash_address[13]" LOC = E22;
NET "flash_address[14]" LOC = E21;
NET "flash_address[15]" LOC = E20;
NET "flash_address[16]" LOC = D21;
NET "flash_address[17]" LOC = B20;
NET "flash_address[18]" LOC = D20;
NET "flash_address[19]" LOC = B19;
NET "flash_address[20]" LOC = C19;
NET "flash_address[21]" LOC = A20;

NET "flash_data[0]" LOC = F8;
NET "flash_data[1]" LOC = E6;
NET "flash_data[2]" LOC = B5;
NET "flash_data[3]" LOC = A4;
NET "flash_data[4]" LOC = A3;
NET "flash_data[5]" LOC = B2;
NET "flash_data[6]" LOC = C2;
NET "flash_data[7]" LOC = F2;
NET "flash_data[8]" LOC = F7;
NET "flash_data[9]" LOC = A5;
NET "flash_data[10]" LOC = D5;
NET "flash_data[11]" LOC = B4;
NET "flash_data[12]" LOC = A2;
NET "flash_data[13]" LOC = B1;
NET "flash_data[14]" LOC = G2;
NET "flash_data[15]" LOC = E1;

NET "flash_byte_n" LOC = G9;
NET "flash_ce" LOC = A22;
NET "flash_oe_n" LOC = D1;
NET "flash_rp_n" LOC = C22;
NET "flash_vpen" LOC = B22;
NET "flash_we_n" LOC = C1;

NET "base_ram_addr[0]" LOC = F24;
NET "base_ram_addr[1]" LOC = G24;
NET "base_ram_addr[2]" LOC = L24;
NET "base_ram_addr[3]" LOC = L23;
NET "base_ram_addr[4]" LOC = M17;
NET "base_ram_addr[5]" LOC = G21;
NET "base_ram_addr[6]" LOC = K17;
NET "base_ram_addr[7]" LOC = L17;
NET "base_ram_addr[8]" LOC = J15;
NET "base_ram_addr[9]" LOC = H23;
NET "base_ram_addr[10]" LOC = P14;
NET "base_ram_addr[11]" LOC = L14;
NET "base_ram_addr[12]" LOC = L15;
NET "base_ram_addr[13]" LOC = K15;
NET "base_ram_addr[14]" LOC = J14;
NET "base_ram_addr[15]" LOC = M24;
NET "base_ram_addr[16]" LOC = N17;
NET "base_ram_addr[17]" LOC = N23;
NET "base_ram_addr[18]" LOC = N24;
NET "base_ram_addr[19]" LOC = P23;
NET "base_ram_be[0]" LOC = M26;
NET "base_ram_be[1]" LOC = L25;
NET "base_ram_be[2]" LOC = D26;
NET "base_ram_be[3]" LOC = D25;
NET "base_ram_data[0]" LOC = M22;
NET "base_ram_data[1]" LOC = N14;
NET "base_ram_data[2]" LOC = N22;
NET "base_ram_data[3]" LOC = P21;
NET "base_ram_data[4]" LOC = M25;
NET "base_ram_data[5]" LOC = N26;
NET "base_ram_data[6]" LOC = P26;
NET "base_ram_data[7]" LOC = P25;
NET "base_ram_data[8]" LOC = J23;
NET "base_ram_data[9]" LOC = J18;
NET "base_ram_data[10]" LOC = E26;
NET "base_ram_data[11]" LOC = H21;
NET "base_ram_data[12]" LOC = H22;
NET "base_ram_data[13]" LOC = H18;
NET "base_ram_data[14]" LOC = G22;
NET "base_ram_data[15]" LOC = J16;
NET "base_ram_data[16]" LOC = N19;
NET "base_ram_data[17]" LOC = P18;
NET "base_ram_data[18]" LOC = P19;
NET "base_ram_data[19]" LOC = P20;
NET "base_ram_data[20]" LOC = K22;
NET "base_ram_data[21]" LOC = L20;
NET "base_ram_data[22]" LOC = L22;
NET "base_ram_data[23]" LOC = M16;
NET "base_ram_data[24]" LOC = K26;
NET "base_ram_data[25]" LOC = K25;
NET "base_ram_data[26]" LOC = J26;
NET "base_ram_data[27]" LOC = J25;
NET "base_ram_data[28]" LOC = H26;
NET "base_ram_data[29]" LOC = G26;
NET "base_ram_data[30]" LOC = G25;
NET "base_ram_data[31]" LOC = F25;
NET "base_ram_ce_n" LOC = K18;
NET "base_ram_oe_n" LOC = K16;
NET "base_ram_we_n" LOC = P24;

NET "ext_ram_addr[0]" LOC = Y21;
NET "ext_ram_addr[1]" LOC = Y26;
NET "ext_ram_addr[2]" LOC = AA25;
NET "ext_ram_addr[3]" LOC = Y22;
NET "ext_ram_addr[4]" LOC = Y23;
NET "ext_ram_addr[5]" LOC = T18;
NET "ext_ram_addr[6]" LOC = T23;
NET "ext_ram_addr[7]" LOC = T24;
NET "ext_ram_addr[8]" LOC = U19;
NET "ext_ram_addr[9]" LOC = V24;
NET "ext_ram_addr[10]" LOC = W26;
NET "ext_ram_addr[11]" LOC = W24;
NET "ext_ram_addr[12]" LOC = Y25;
NET "ext_ram_addr[13]" LOC = W23;
NET "ext_ram_addr[14]" LOC = W21;
NET "ext_ram_addr[15]" LOC = V14;
NET "ext_ram_addr[16]" LOC = U14;
NET "ext_ram_addr[17]" LOC = T14;
NET "ext_ram_addr[18]" LOC = U15;
NET "ext_ram_addr[19]" LOC = T15;
NET "ext_ram_be[0]" LOC = U26;
NET "ext_ram_be[1]" LOC = T25;
NET "ext_ram_be[2]" LOC = R17;
NET "ext_ram_be[3]" LOC = R21;
NET "ext_ram_data[0]" LOC = W20;
NET "ext_ram_data[1]" LOC = W19;
NET "ext_ram_data[2]" LOC = V19;
NET "ext_ram_data[3]" LOC = W18;
NET "ext_ram_data[4]" LOC = V18;
NET "ext_ram_data[5]" LOC = T17;
NET "ext_ram_data[6]" LOC = V16;
NET "ext_ram_data[7]" LOC = V17;
NET "ext_ram_data[8]" LOC = V22;
NET "ext_ram_data[9]" LOC = W25;
NET "ext_ram_data[10]" LOC = V23;
NET "ext_ram_data[11]" LOC = V21;
NET "ext_ram_data[12]" LOC = U22;
NET "ext_ram_data[13]" LOC = V26;
NET "ext_ram_data[14]" LOC = U21;
NET "ext_ram_data[15]" LOC = U25;
NET "ext_ram_data[16]" LOC = AC24;
NET "ext_ram_data[17]" LOC = AC26;
NET "ext_ram_data[18]" LOC = AB25;
NET "ext_ram_data[19]" LOC = AB24;
NET "ext_ram_data[20]" LOC = AA22;
NET "ext_ram_data[21]" LOC = AA24;
NET "ext_ram_data[22]" LOC = AB26;
NET "ext_ram_data[23]" LOC = AA23;
NET "ext_ram_data[24]" LOC = R25;
NET "ext_ram_data[25]" LOC = R23;
NET "ext_ram_data[26]" LOC = R26;
NET "ext_ram_data[27]" LOC = U20;
NET "ext_ram_data[28]" LOC = T22;
NET "ext_ram_data[29]" LOC = R22;
NET "ext_ram_data[30]" LOC = T20;
NET "ext_ram_data[31]" LOC = R14;
NET "ext_ram_ce_n" LOC = Y20;
NET "ext_ram_oe_n" LOC = U24;
NET "ext_ram_we_n" LOC = U16;

